.page{
   background-color: #2A2C2F;
   color: #FFFFFF;
   margin: 0 auto;
   font-family: 'Inter', Arial, Helvetica, sans-serif;
   font-style: normal;
   max-width: 1280px;
   overflow-x: hidden;
   overflow: visible;
   -ms-overflow-style: none;
   scrollbar-width: none;
}



