.places{
    display: grid;
    max-width: calc(100% - 296px);
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 850px) {
    .places {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 680px) {
    .places {
        max-width: calc(100% - 32px);
        width: 100%;
    }
}

@media screen and (max-width: 325px) {
    .places {
        max-width: 100%;
    }
}