.lead{
    padding: 0 148px 0 148px;
    margin-top: 56px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead{
        padding: 0 48px 0 48px;
        margin-top: 56px;
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead{
        padding: 0;
        margin-top: 48px;
        width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead{
        padding: 0;
        margin-top: 48px;
        width: 320px;
    }
}