.cover__subtitle{
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    margin: 32px 0 0;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 114%;
        margin-top: 16px;
    }
}