.footer__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width:320px){
    .footer__link{
        font-size: 24px;
        line-height: 24px;
    }
}