.lead__title {
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
    .lead__title {
        font-size: 40px;
        line-height: 110%;
        max-width: 288px;
    }
}