.place__paragraph{
    margin: 0 0 26px;
    padding: 0;
    text-align: left;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.place__paragraph:last-child {
    margin: 0;
}


@media screen and (max-width: 850px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 325px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}