.place__paragraph{
    margin: 0 0 26px 0;
    padding: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    font-family: 'Inter';
}

.place__paragraph:nth-of-type(2n) {
    margin-bottom: 0;
}