.footer__copyright{
   margin:0;
   font-family: 'Inter', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   text-align: right;
   color: #FFFFFF;
}

@media screen and (max-width:700px){
   .footer__copyright{
      align-self: flex-start;
      line-height: 100%;
      margin-top: 48px;
   }
}