.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 92px;
    margin-left: 148px;
    width: 690px;
}

@media screen and (max-width:1024px){
    .intro{
        margin-left: 48px;
    }
}

@media screen and (max-width:768px){
    .intror{
        margin-left: 24px;
        width: 720px;
    }
}

@media screen and (max-width:320px){
    .intro{
        margin-left: 16px;
        width: 288px;
    }
}