.lead__subtitle{
    text-align: center;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 64px;
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

@media screen and (max-width:320px){
    .lead__subtitle{
        width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}
