.cover {
    display: flex;
    background-image: url("../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 92px 48px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.cover::after {
    content: "";
    width: 0;
    height: 0;
    padding-top: calc(740 / 1184 * 100%);
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 700px) {
    .cover {
        margin-top: 66px;
        margin-bottom: 64px;
    }
}

