.cover__overlay{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:  #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
}