.place__url-heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: none;
    color: #AAAAAA;
}

@media screen and (max-width:768px){
    .place__url-heading{
        line-height: 12px;
    }
}

@media screen and (max-width:320px){
    .place__url-heading{
        line-height: 12px;
    }
}