.header__lang-links{
    display: flex;
    font-family: 'Inter';
    text-decoration: none;
    text-align: right;
}

@media screen and (max-width:320px){
    .header__lang-links{
        padding-top: 14px;
    }
}