.place__website{
    justify-content: end;
    max-width: 456px;
    margin-left: 40px;
    margin-top: 106px;
}


@media screen and (max-width:320px){
    .place__website{
        margin-left: 16px;
    }
}