.place__website{
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 456px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}


@media screen and (max-width:320px){
    .place__website{
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}