.intro__title{
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
}


@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 32px;
        line-height: 109%;
    }
}